/out/
/issues/forthcoming/*/contents.tex
/issues/forthcoming/*/*.a.tex

/issues/published/*/contents.tex
/issues/published/*/*.a.tex

/issues/forthcoming/*/issue*.dvi
/issues/forthcoming/*/issue*.pdf
/issues/forthcoming/*/issue*.ps

/issues/published/*/issue*.dvi
/issues/published/*/issue*.pdf
/issues/published/*/issue*.ps

/issues/*/*/*.aux
/issues/*/*/*.bbl
/issues/*/*/*.blg
/issues/*/*/*.idx
/issues/*/*/*.ilg
/issues/*/*/*.ind
/issues/*/*/*.log
/issues/*/*/*.out
/issues/*/*/*.toc
/issues/published/*/images/*.ppm
